<div class="flex flex-wrap flex-auto space-x-0 md:space-x-6 p-2">
  <div class="flex flex-col md:flex-row items-center space-x-0 md:space-x-6 p-4 w-full justify-center bg-gray-100 shadow-lg">
    <div class="mb-6 md:mb-0">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Entre em contato!</h2>
      <p class="text-gray-600 mb-4">
        Se você tem alguma ideia, projeto ou oportunidade em mente, sinta-se à vontade para entrar em contato. <br>
        Seja para discutir soluções de desenvolvimento, colaborar em projetos inovadores ou apenas trocar experiências sobre tecnologia, <br>
        eu estou sempre aberto a novas conversas!
      </p>
      <p class="text-gray-600 mb-4">
        Preencha o formulário ao lado com suas informações e mensagem, <br>
        e retornarei o mais breve possível. Vamos construir algo incrível juntos!
      </p>

      <h3 class="text-xl font-semibold mb-2 text-gray-700">Por que me contatar?</h3>
      <ul class="list-disc list-inside text-gray-600 mb-4">
        <li>Consultoria em desenvolvimento de software</li>
        <li>Colaboração em projetos</li>
        <li>Soluções personalizadas para web e mobile</li>
        <li>Discussões sobre novas tecnologias</li>
        <li>Qualquer outra dúvida ou sugestão</li>
      </ul>

      <p class="text-gray-600">
        Estou ansioso para ouvir de você!
      </p>
    </div>
    <form class="w-full md:w-auto space-y-6" [formGroup]="ContactForm" (submit)="onContactFormSubmit()" (keydown)="onTriggerContactFormSubmit($event)" autocomplete="off">
      <div class="flex flex-col items-start">
        <label for="Nome" class="text-gray-600 font-semibold w-full md:w-24">Nome</label>
        <input pInputText id="Nome" formControlName="Nome"
          [ngClass]=" nome?.invalid && nome?.touched ? 'ng-invalid ng-dirty' : '' " class="jasmim-color-text flex-auto w-full md:w-96" autocomplete="off" placeholder="Digite seu nome" />
        <div *ngIf="nome?.invalid && nome?.touched">
          <small class="jasmim-color-text" *ngIf="nome?.errors?.['required']">Nome é obrigatório.</small>
        </div>
      </div>
      <div class="flex flex-col items-start">
        <label for="Email" class="text-gray-600 font-semibold w-full md:w-24">Email</label>
        <input pInputText id="Email" formControlName="Email"
          [ngClass]=" email?.invalid && email?.touched ? 'ng-invalid ng-dirty' : '' " class="jasmim-color-text flex-auto w-full md:w-96" autocomplete="off" placeholder="Digite seu email" />
        <div *ngIf="email?.invalid && email?.touched">
          <small class="jasmim-color-text" *ngIf="email?.errors?.['required']">Email é obrigatório.</small>
          <small class="jasmim-color-text" *ngIf="email?.errors?.['email']">Formato de email inválido.</small>
        </div>
      </div>
      <div class="flex flex-col items-start">
        <label for="Assunto" class="text-gray-600 font-semibold w-full md:w-24">Assunto</label>
        <textarea pInputTextarea id="Assunto" rows="5" cols="30" formControlName="Assunto"
          [ngClass]=" assunto?.invalid && assunto?.touched ? 'ng-invalid ng-dirty' : '' " class="jasmim-color-text flex-auto w-full md:w-96" autocomplete="off" placeholder="Escreva sobre o assunto"></textarea>
        <div *ngIf="assunto?.invalid && assunto?.touched">
          <small class="jasmim-color-text" *ngIf="assunto?.errors?.['required']">Assunto é obrigatório.</small>
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <button class="jasmim-btn-gray" (click)="ContactForm.reset()">Limpar</button>
        <button class="jasmim-btn-blue" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
