<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />

<jasmim-loading *ngIf="Loading; else bodyTemplate"></jasmim-loading>

<ng-template #bodyTemplate>
  <jasmim-body>
    <jasmim-header></jasmim-header>
    <main  class="flex flex-col">
      <jasmim-profile id="profile"></jasmim-profile>
      <jasmim-skills id="skills"></jasmim-skills>
      <jasmim-projects id="projects"></jasmim-projects>
      <jasmim-contact id="contact" (FormSubmit)="FormSubmit($event)"></jasmim-contact>
    </main>
  </jasmim-body>
</ng-template>
