<div class="flex flex-col items-center justify-center text-center py-6">
  <div class="relative bg-white rounded-full">
      <img src="icons/character/character-original.png" alt="Imagem" class="w-32 h-32 rounded-full object-cover">
  </div>
  <h2 class="mt-4 text-2xl font-semibold">Jordan Silva</h2>
  <p class="mt-2 text-gray-1000">
    Sou desenvolvedor com experiência em aplicações web, APIs e sistemas desktop, <br>
    utilizando C# com .NET Core, .NET Framework e ASP.NET. <br>
    Tenho conhecimento em bancos de dados SQL, como Oracle e PostgreSQL, <br>
    além de experiência na criação de microsserviços e integração de sistemas, <br>
    sempre focando em soluções eficientes e robustas.
  </p>
  <p class="mt-2 text-gray-1000">
    Atualmente, estou estudando Angular para me especializar ainda mais no desenvolvimento frontend.
  </p>
</div>
