<div class="flex flex-col items-center justify-center text-center py-6">
  <div class="relative bg-white rounded-full">
      <img src="https://avatars.githubusercontent.com/u/85715358?v=4" alt="Imagem" class="w-32 h-32 rounded-full object-cover">
  </div>
  <h2 class="mt-4 text-2xl font-semibold">Jordan Silva</h2>
  <p class="mt-2 text-gray-1000 text-center break-all">
    Atuo como Software Engineer em uma empresa do setor alimentício, <br>
    onde sou responsável pelo desenvolvimento, manutenção e otimização de aplicações web, APIs e sistemas desktop. <br>
    Trabalho amplamente com tecnologias C#, incluindo .NET Core, .NET Framework e ASP.NET, <br>
    aplicando conhecimento avançado em bancos de dados SQL, como Oracle e Postgres, para assegurar a robustez e eficiência dos dados processados pela organização.
  </p>
</div>
