<div class="jasmim-bg-100 w-full overflow-hidden mt-6 p-2 flex">
  <div class="flex flex-auto space-x-6 scrolling">
    <img src="icons/csharp/csharp-original.svg" class="w-16 h-16">
    <img src="icons/python/python-original.svg" class="w-16 h-16">
    <img src="icons/typescript/typescript-original.svg" class="w-16 h-16">
    <img src="icons/angular/angular-original.svg" class="w-16 h-16">
    <img src="icons/unity/unity-original.svg" class="w-16 h-16">
    <img src="icons/oracle/oracle-original.svg" class="w-16 h-16">
    <img src="icons/postgresql/postgresql-original.svg" class="w-16 h-16">
    <img src="icons/tailwindcss/tailwindcss-original.svg" class="w-16 h-16">
    <img src="icons/bootstrap/bootstrap-original.svg" class="w-16 h-16">
    <img src="icons/docker/docker-original.svg" class="w-16 h-16">
    <img src="icons/git/git-original.svg" class="w-16 h-16">
    <img src="icons/rabbitmq/rabbitmq-original.svg" class="w-16 h-16">
    <img src="icons/nuget/nuget-original.svg" class="w-16 h-16">
    <img src="icons/cloudflare/cloudflare-original.svg" class="w-16 h-16">
    <img src="icons/gitlab/gitlab-original.svg" class="w-16 h-16">
    <img src="icons/selenium/selenium-original.svg" class="w-16 h-16">
  </div>
</div>
